*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: yellow;
}

.common{
    background-color: aliceblue;
    text-align: center;
    align-content: center;
}


.container{
    margin-top: 100px;
    display: grid;
    grid-template: repeat(2,50px)/repeat(3,1fr);
    /* grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,50px); */
    gap: 3px;

}
