.container{
    width: 350px;
    height: 220px;
    margin:100px auto;
    display: flex;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container .step-container{
    width: inherit;
    display: flex;
    align-items: center;
}

.step-container .step-bar{
    width: inherit;
    height: 4px;
    background-color: grey;
    z-index: -1;
    position: absolute;
}

.step-container .step-circles{
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.step-circles .step-icon{
    border: 4px solid gray;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: gray;
    background-color: white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container .directions{
    margin-top: 20px;
   
}

.directions .step-btn{
    border: none;
    padding: 5px;
    margin: 0px 8px;
    width: 60px;
    border-radius: 5px;
    background-color: rgb(54, 54, 248);
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}
